
body {
    background-image: url(../img/fondo.png);
    background-size: cover;
    color: yellow;
    font-family: fantasy;
    font-weight: bold;
}
.container {
    width: 1000px;
    margin: 0 auto;
}

.trainer {
    background-color:red;
    border: 2px solid black;
    margin-bottom:1rem;
    padding-left: 1rem;
    display:flex;
    justify-content:space-between;
}
.pokemon__img {
    width:15rem;
    margin-top: 3rem;
}

.ganador__tamano {
    width: 17rem;
    border-radius: 8rem;
    box-shadow: 4px -5px 22px 45px rgba(243,255,18,1);
    z-index: 9;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.marcador {
    display: flex;
    justify-content:space-between;
    margin-bottom: .5rem;
}

input {
    border: 3px solid black;
    font-weight: bold;
    width: 3rem;
}

.esquirtel__inputs, .bulbasur__inputs {
    display:flex;
    flex-direction:column;
}

.start {
    display: flex;
    justify-content:center
}

.start__button {
    width:13rem;
}

.start__button:hover {
    width: 15rem;
}

.fondoNaranja {
    background-color: orange;
    color:black;
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid black;
    margin: 0 2rem;
}

.pokelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.pokeName {
    /* background-color:white; */
    color:white;
    text-shadow: 3px 1px 0px black;
    text-transform: uppercase;
    text-align: center;

}

.pokePhoto {
    max-width: 9rem;
}

.jugador__title{
    font-style: italic;
    font-size: 3rem;
    text-shadow: 3px 1px 0px red;
    text-decoration: underline;
}

.choose__pokemon {
    font-style: italic;
    font-size: 1rem;
    text-shadow: 2px 1px 0px red;
    text-decoration: underline;
    text-align: center;
}